
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary-font-color: hsl(259, 100%, 65%);
  --primary-error-color: hsl(0, 100%, 67%);
  --primary-border-color: hsl(0, 0%, 86%);
  --primary-body-backgroundColor: hsl(0, 0%, 90%);
}

body {
  font-family: "Poppins";
  /*Just to pop the contrast... REMOVE*/
  padding: 50px 0;
  background: var(--primary-body-backgroundColor);
}

.App {
  margin: 0 auto;
  max-width: 375px;
  padding: 45px 20px;
  background: white;
  border-radius: 25px 25px 125px 25px;
}

form {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary-border-color);
  margin-bottom: 50px;
  padding-bottom: 75px;
}

.input-container {
  width: 110px;
}

label {   
  color: hsl(0, 1%, 44%);
  font-weight: bold;
}

input {
  font-size: 32px;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 10px;
  border-radius: 10px;
  border: 1px solid var(--primary-border-color);
  font-weight: 800;
}
input:focus {
  outline: none;
  border: 1px inset var(--primary-font-color);
}

button {
  width: 75px;
  height: 75px;
  border: none;
  color: white;
  border-radius: 100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -37.5px;
  text-align: center;
  background-color: var(--primary-font-color);
}

h1 {
  font-size: 4em;
  margin: 0;
}
span {
  color: var(--primary-font-color);
}

p  {
  font-size: 0.6em;
  color: hsl(0, 100%, 67%);
}