:root {
  --primary-font-color: hsl(259, 100%, 65%);
  --primary-error-color: hsl(0, 100%, 67%);
}

body {
  font-family: helvetica;
}

.App {
  padding: 50px 15px;
}

form {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid hsl(0, 0%, 80%);
  margin-bottom: 80px;
  padding-bottom: 100px;
}

.input-container {
  width: 30%;
}

input {
  width: 90%;
  padding: 12px 5px;
  font-size: 2em;
  border-radius: 10px;
  border: 1px solid hsl(0, 0%, 80%);
}

button {
  width: 75px;
  height: 75px;
  border: none;
  color: white;
  border-radius: 100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -37.5px;
  text-align: center;
  background-color: var(--primary-font-color);
}

h1 {
  font-size: 4em;
  margin: 0;
}
span {
  color: var(--primary-font-color);
}